{% extends 'admin/admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="teamleader_reg#about">
  <table border="1" class="table table-striped">
    <tr>
      <td>Fname</td>
      <td><input type="text" name="fname" /></td>
    </tr>
    <tr>
      <td>Lname</td>
      <td><input type="text" name="lname" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="place" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="post" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="pin" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="phone" /></td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td><input type="text" name="email" /></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><input type="text" name="username" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" class="btn btn-success" value="Add Team Leader" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}