{% extends 'admin/admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="edit_team_leader1#about">
  <table border="1" class="table table-striped">
    <tr>
      <td>Fname</td>
      <td><input type="text" name="fname"  value="{{val['fname']}}"/></td>
    </tr>
    <tr>
      <td>Lname</td>
      <td><input type="text" name="lname" value="{{val['lname']}}"/></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="place" value="{{val['place']}}"/></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="post" value="{{val['post']}}"/></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="pin" value="{{val['pin']}}"/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="phone" value="{{val['phone']}}"/></td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td><input type="text" name="email" value="{{val['email']}}"/></td>
    </tr>

    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" class="btn btn-success" value="Edit Team Leader" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}