
{% extends 'member/member_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <!--<table width="221" border="2">-->

    <!--<tr>-->
      <!--<th width="209" scope="row"><div align="left"><a href="memview_work">View Work & Update Status</a></div></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><div align="left"><a href="view_notifications">View Notifications</a></div></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><div align="left"><a href="memview_doubt">Ask Doubts</a></div></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><div align="left"><a href="add_feedback">Feedback</a></div></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><div align="left"><a href="view_complaint">Send Complaint</a></div></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><div align="left"><a href="view_file">View and Upload File</a></div></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="/">Log Out</a></th>-->
    <!--</tr>-->
  <!--</table>-->
</form>
{% endblock %}