<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
{% extends 'teamleader/team_leader_index.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form1" method="post" action="reply_doubt1">
  <table width="300" border="2" class="table">
    <tr>
      <th scope="row">Reply</th>
      <th scope="row"><textarea name="textarea"></textarea></th>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="Submit" class="btn btn-success" value="Send"></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}