<!--&lt;!&ndash;<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">&ndash;&gt;-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'teamleader/team_leader_index.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table border="1" class="table">
    <tr>
      <th>Name</th>
      <th>Feedback</th>
      <th>Date</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['feedback']}}</td>
      <td>{{i['date']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}